<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

</head>
<body>
<div class="container">
    <font align="center" size="15" color="red" >
        <button style="color: #331a00; background-color: #29a329; width:150px;
                height:40px" type="submit"><b><a href="/posts"> Home</a></b></button>
        <button style="color: #331a00; background-color: #29a329; width:150px;
                height:40px" type="submit"><b><a href="/category/new">New Category</a></b></button>
    </font>
    <div th:if="${not #lists.isEmpty(categories)}">
        <font align="center" size="10" color="#00cc00" >
            <b><u><h2>Categories List</h2></u></b>
        </font>
        <header style="text-align: center">
        <table border="0" cellpadding="1" cellspacing="1" width="30%" bgcolor="white" align="center">
            <tr>
                <th><font align="center" size="5" color="#009900" >Id</font></th>
                <th><font align="center" size="5" color="#009900" >Name</font></th>
                <th><font align="center" size="5" color="#009900" >Acciones</font></th>
            </tr>
            <br></br>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"><font align="center" size="4" color="#004d00" >Id</font></td>
                <td th:text="${category.name}"><font align="center" size="4" color="#004d00" >name</font></td>
                <td><a th:href="${ '/category/' + category.id}"><font align="center" size="4" color="#006600" >View</font></a>
                    <a th:href="${ '/category/eliminar/' + category.id}"><font align="center" size="4" color="#006600" >Delete</font></a>
                    <a th:href="${ '/category/editar/' + category.id}"><font align="center" size="4" color="#006600" >Edit</font></a>
                </td>
            </tr>
        </table>
        </header>
    </div>
</div>
</body>
</html>