<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Category</title>

</head>
<body>
<font align="left" size="3" color="#004d1a" >
    <b><u><h2>Category</h2></u></b>
</font>
<font size="5" color="#2d862d" border="2">
<b>Name:</b><sub th:text="${category.name}"></sub>
    <br></br>
<div class="row">
    <br></br>
    <button style="color: #660066; background-color:#00b300 ;width:70px;
                height:30px" type="submit"><a href="/categories">Volver</a></button>
</div>
</font>
</body>
</html>