
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Example</title>

</head>
<body>
    <a href="/user/new"><font align="left" size="7" color="purple" >Extra</font></a>
<div id="header">
    <font size="4" color="#e600ac" >
    <ul class="nav">
        <tr th:each="post : ${posts}">
            <sub th:text="${post.title}"></sub>
            <br></br>
            <ul>
                <sub th:text="${post.text}"></sub>
                <br></br>
                <sub th:text="${post.likes}"></sub>
                <br></br>
                <sub th:text="${post.category.name}"></sub>
                <br></br>
                <sub th:text="${post.user.name}"></sub>
                <br></br>
                <sub th:text="${post.date}"></sub>
                <br></br>
            </ul>
            <a>Comment: </a>
            <ul th:each="comment : ${post.comments}">
                <sub th:text="${comment.text}"></sub>
                <br></br>
            </ul>
        </tr>
    </ul>
    </font>
</div>
</body>
</html>
<style>
    #id{
        margin:100px;
    }
</style>