<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Product</title>

</head>
<body>
<font align="left" size="6" color="#b30086" >
    <b><u><h2>Post</h2></u></b>
</font>
<img th:src="${post.image}" style="width:200px; height:200px;"/>
<br></br>
<td >
    <button style="color: #660066; background-color: #DDA0DD; width:80px;
                height:30px" type="submit"><b><a th:href="${post.pagi}" > Pagina</a></b></button>
</td>
<br></br>
<font size="4" color="purple" >
<b style="color:#cc0066">Titulo: </b><sub th:text="${post.title}"></sub>
<br></br>
    <br></br>
<b style="color:#cc0066">Texto: </b><sub th:text="${post.text}"></sub>
    <br></br>
    <br></br>
<b style="color:#cc0066">Category: </b><sub th:text="${post.category.name}"></sub>
    <br></br>
    <br></br>
    <b style="color:#cc0066">User: </b><sub th:text="${post.user.name}"></sub>
    <br></br>
    <br></br>
<b style="color:#cc0066">Likes: </b><sub th:text="${post.likes}"></sub>
    <br></br>
    <br></br>
<a th:href="${'/post/like/'+post.id}">Like</a>
<a th:href="${'/post/dislike/'+post.id}">Dislike</a>
<br></br><br></br>
<b style="color:#cc0066">Comentario: </b>
<form class="form-horizontal" th:object="${comment}" th:action="@{/comment}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{post}"/>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{text}"/>
            <span style="color: red;" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Errors</span>
        </div>
    </div>
    <br></br>
    <div class="row">

        <button style="color: #660066; background-color: #DDA0DD;width:70px;
                height:30px" type="submit" class="btn btn-default"><b>Guardar</b></button>
        <button style="color: #660066; background-color: #DDA0DD; width:70px;
                height:30px" type="submit"> <b><a href="/posts">Volver</a></b> </button>
    </div>
</form>
    <br></br>

    <div id="aux">
        <div th:each="comment : ${post.comments}">
            <div th:text="${comment.text}"></div>
            <b style="color:#cc0066">Date: </b>
            <td th:text="${comment.date}"><font align="center" size="4" color="black" >date</font></td>
            <br></br>
            <br></br>
            <b style="color:#cc0066">Usuario: </b><sub th:text="${comment.user}"></sub>
            <a th:href="${'/comment/user/'+comment.id}">usuario</a>
            <br></br>
            <br></br>
            <b style="color:#cc0066">Likes: </b><sub th:text="${comment.likes}"></sub>
            <br></br>
            <br></br>
            <a th:href="${'/comment/like/'+comment.id}">Like</a>
            <a th:href="${'/comment/dislike/'+comment.id}">Dislike</a>
            <br></br><br></br>
        </div>

    </div>
</font>
</body>
</html>
<style>
#aux{
margin:10px;
}
</style>