<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

</head>
<body>
<font align="center" size="15" color="Black" >
    <button style="color: #660066; background-color: #DDA0DD; width:200px;
                height:40px" type="submit"><b><a href="/post/new"> New Post</a></b></button>
    <button style="color: #660066; background-color: #DDA0DD; width:200px;
                height:40px" type="submit"><b><a href="/users">Users</a></b></button>
    <button style="color: #660066; background-color: #DDA0DD; width:200px;
                height:40px" type="submit"><b><a href="/categories">Categories</a></b></button>
</font>
<div class="container">
    <div th:if="${not #lists.isEmpty(posts)}">
        <font align="center" size="10" color="purple" >
            <b><u><h2>Posts List</h2></u></b>
        </font>
        <header style="text-align: center">
        <table border="0" cellpadding="1" cellspacing="1" width="60%" bgcolor="white" align="center">
            <tr>
                <th><font align="center" size="5" color="purple" >Ip</font></th>
                <th><font align="center" size="5" color="purple" >Tittle</font></th>
                <th><font align="center" size="5" color="purple" >Text</font></th>
                <th><font align="center" size="5" color="purple" >Likes</font></th>
                <th><font align="center" size="5" color="purple" >Category</font></th>
                <th><font align="center" size="5" color="purple" >User</font></th>
                <th><font align="center" size="5" color="purple" >Date</font></th>
                <th><font align="left" size="5" color="purple" >Accions</font></th>
                <th><font align="center" size="5" color="purple" >Imagen</font></th>
                <th><font align="right" size="5" color="purple" >Pagina</font></th>
            </tr>
            <br></br>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"><font align="center" size="4" color="black" >Id</font></td>
                <td th:text="${post.title}"><font align="center" size="4" color="black" >title</font></td>
                <td th:text="${post.text}"><font align="center" size="4" color="black" >text</font></td>
                <td th:text="${post.likes}"><font align="center" size="4" color="black" >likes</font></td>
                <td th:text="${post.category.name}"><font align="center" size="4" color="black" >category</font></td>
                <td th:text="${post.user.name}"><font align="center" size="4" color="black" >name</font></td>
                <td th:text="${post.date}"><font align="center" size="4" color="black" >date</font></td>
                <td><a th:href="${ '/post/' + post.id}"><font align="center" size="4" color="#660066" >Ver</font></a>
                    <a th:href="${ '/post/eliminar/' + post.id}"><font align="center" size="4" color="#660066" >Eliminar</font></a>
                    <a th:href="${ '/post/editar/' + post.id}"><font align="center" size="4" color="#660066" >Editar</font></a>
                </td>
                <td >
                    <img th:src="${post.image}" style="width:100px; height:100px;"/>
                </td>
                <td >
                    <button style="color: #660066; background-color: #DDA0DD; width:80px;
                height:30px" type="submit"><b><a th:href="${post.pagi}" > Pagina</a></b></button>
                </td>
            </tr>
        </table>
        </header>
    </div>
</div>

</body>
</html>