<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Post</title>

</head>
<body>
<font align="left" size="3" color="#8600b3" >
    <b><u><h2>User</h2></u></b>
</font>
<font size="5" color="#9933ff" border="2">
<b>Name:</b><sub th:text="${user.name}"></sub>
    <br></br>
<div class="row">
    <button style="color: #660066; background-color:#b366ff ;width:70px;
                height:30px" type="submit"><a href="/users">Volver</a></button>
</div>
</font>
</body>
</html>