<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

</head>
<body>
<div class="container">
    <font align="center" size="15" color="red" >
        <button style="color: #331a00; background-color: #9966ff; width:100px;
                height:40px" type="submit"><b><a href="/posts"> Home</a></b></button>
        <button style="color: #331a00; background-color: #9966ff; width:100px;
                height:40px" type="submit"><b><a href="/user/new">New User</a></b></button>
    </font>
    <div th:if="${not #lists.isEmpty(users)}">
        <font align="center" size="10" color="#8c1aff" >
            <b><u><h2>Users List</h2></u></b>
        </font>
        <header style="text-align: center">
            <table border="0" cellpadding="1" cellspacing="1" width="30%" bgcolor="white" align="center">
            <tr>
                <th><font align="center" size="5" color="#7a00cc" >Id</font></th>
                <th><font align="center" size="5" color="#7a00cc" >Name</font></th>
                <th><font align="center" size="5" color="#7a00cc" >Acciones</font></th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">Id</td>
                <td th:text="${user.name}">Name</td>
                <td><a th:href="${ '/user/' + user.id}"><font align="center" size="4" color="#7a00cc" >View</font></a>
                    <a th:href="${ '/user/eliminar/' + user.id}"><font align="center" size="4" color="#7a00cc" >Delete</font></a>
                    <a th:href="${ '/user/editar/' + user.id}"><font align="center" size="4" color="#7a00cc" >Edit</font></a>
                </td>
            </tr>
        </table>
        </header>
    </div>
</div>

</body>
</html>